<ion-view>
    <ion-nav-title class="text-center">About</ion-nav-title>
    <ion-content class="home-content text-center about-page">
        <br>
        <img src="img/logo.png" width="100%">
        <h2 class="white about-page">StarChat DSE</h2>
        <br>
        <div class="animated pulse text-center">
            <h4 class="about-page-name">Peter Yuen :</h4>
            <p class="about-page-role about-page-role-last">Founder and Programmer</p>
            <h4 class="about-page-name">Lixi :</h4>
            <p class="about-page-role about-page-role-last">Programmer</p>
            <h4 class="about-page-name">Special Thanks : </h4>
            <p class="about-page-role">All Recording Volunteers</p>
            <p class="about-page-role about-page-role-last">Noisy Room Studio</p>
            <h4 class="about-page-name">Contact : </h4>
            <p class="about-page-role">starchatdse@gmail.com</p>
        </div>
    </ion-content>
</ion-view>