<ion-view>
    <ion-nav-title class="text-center">About</ion-nav-title>
    <ion-content>
        </div>
        <div class="row">
            <div class="col text-center">
                <i class="icon ion-android-folder home-icon text-center" ui-sref="download"><p class="home-title text-center">Listen Offline</p></i>
                
            </div>
            <div class="col text-center">
                <i class="icon ion-information-circled home-icon text-center" ui-sref="about"><p class="home-title text-center">About</p></i>
                
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <i ng-show="yearid" class="icon ion-play home-icon text-center" ui-sref="offline({yearid: yearid})"><p class="home-title text-center">Recently Player</p></i>
                
            </div>
            <div class="col text-center">
                <i class="icon ion-information-circled home-icon text-center" ui-sref="about"><p class="home-title text-center">關於我們</p></i>
            </div>
        </div>
    </ion-content>
</ion-view>