  <ion-popover-view class="popover">
    <ion-header-bar class="popover-header">
      <h1 class="title popover-text">Sort By:</h1>
    </ion-header-bar>
    <ion-content class="popover-header">
		<ul class="list">
		    <li class="item popover-text text-center" ng-click="sortItems(1)">
		    Oldest to Newest
		    </li>
		    <li class="item popover-text text-center" ng-click="sortItems(2)">
		    Newest to Oldest
		    </li>
		    <li class="item popover-text text-center" ng-click="sortItems(3)">
		    By Question A-Z
		    </li>
		    <li class="item popover-text text-center" ng-click="sortItems(4)">
		    By Question Z-A
		    </li>
		</ul>
    </ion-content>
  </ion-popover-view>