<ion-view>
    <ion-nav-title>{{topicdata.Details.Full_Question}}</ion-nav-title>
    <ion-content>
        <div class="row">
            <div class="col-50 text-center">
                <button class="button-clear groupInd" ng-click="topicSelect(1)">
                    <i class="icon ion-person-stalker" ng-class="{'positive bold' : groupToggle}">
                    </i>
                    <span ng-class="{'positive bold' : groupToggle}">Group</span>
                </button>
            </div>
            <div class="col-50 text-center">
                <button class="button-clear groupInd" ng-click="topicSelect(2)">
                    <i class="icon ion-person" ng-class="{'balanced bold' : !groupToggle}">
                    </i>
                    <span ng-class="{'balanced bold' : !groupToggle}">Individual</span>
                </button>
            </div>
        </div>
        <div class="videoWrapper">
            <iframe ng-src="{{trustSrc(youtubeUrl)}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row download-buttons">
            <div class="col-20 text-center">
                <button class="button button-calm button-full icon fa-download download-buttons" ng-click="confirmDownload()">
                </button>
            </div>
            <div class="col-80 text-center">
                <button class="button button-full button-positive download-buttons" ng-click="showDetails()" >
                  Candidate Details 
                  <i class="download-buttons-icon icon" ng-class="detailsShow ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                </button>
            </div>
        </div>
        <div ng-class="{'cssSlideUp' : Loaded}" ng-show="detailsShow" class="candidate-info">
            <div class="row">
                <div class="col-50">
                    <a class="item item-avatar borderless transparent" href="#">
                        <img src="img/A.png">
                        <h2 class="bold text-left">Year : {{topicdata.Details.Profiles.A.Year}}</h2>
                         <h2>Level : {{topicdata.Details.Profiles.A.Grade}}</h2>
                    </a>
                </div>
                <div class="col-50">
                    <a class="item item-avatar borderless transparent" href="#">
                        <img src="img/B.png">
                        <h2 class="bold text-left">Year : {{topicdata.Details.Profiles.B.Year}}</h2>
                        <h2>Level : {{topicdata.Details.Profiles.B.Grade}}</h2>
                    </a>
                </div>   
            </div>
            <div class="row">
                <div class="col-50">
                    <a class="item item-avatar borderless transparent" href="#">
                        <img src="img/C.png">
                        <h2 class="bold text-left">Year : {{topicdata.Details.Profiles.C.Year}}</h2>
                         <h2>Level : {{topicdata.Details.Profiles.C.Grade}}</h2>
                    </a>
                </div>
                <div class="col-50">
                    <a class="item item-avatar borderless transparent" href="#">
                        <img src="img/D.png">
                        <h2 class="bold text-left">Year : {{topicdata.Details.Profiles.D.Year}}</h2>
                        <h2>Level : {{topicdata.Details.Profiles.D.Grade}}</h2>
                    </a>
                </div>   
            </div>
        </div>
        <div ng-repeat="talks in dialogue" class="justify">
            <div class="talks"><span class="speakername">{{talks.speaker}}:</span><span class="content"> {{talks.content}}</span></div>
        </div>
        <div class="text-center"><span class="speakername">~END~</span></div>
        <br>
  </ion-content>
</ion-view>